<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%contextName] [%d{yyyy-MM-dd HH:mm:ss}] -> %msg%n</pattern>
        </encoder>
    </appender>

     <contextName>boot-test/${HOSTNAME}</contextName>


    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>/log/bootA.log</file>
        <append>true</append>
        <encoder>
            <pattern>[%contextName] [%d{yyyy-MM-dd HH:mm:ss}] -> %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SOCKET" class="ch.qos.logback.classic.net.SocketAppender">
        <remoteHost>192.168.0.101</remoteHost>
        <port>7000</port>
        <reconnectionDelay>10000</reconnectionDelay>
        <includeCallerData>true</includeCallerData>
    </appender>

    <logger name="logger.boot2" level="INFO" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
        <appender-ref ref="SOCKET" />
    </logger>

     <appender name="ASYNC_ROLLING_SOCKET" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="SOCKET" />
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
        <appender-ref ref="SOCKET" /> <!--如果要提高性能,可以使用ASYNC_ROLLING_SOCKET,采用阻塞队列的方式 -->
    </root>
</configuration>

